body {
    margin: 0px;
}

main {
    padding: 0px 200px;
}

footer {
    display: flex;
    justify-content: space-between;
    padding: 80px 200px;
}

footer p {
    margin: 0px;
}

a {
    color: black;
    text-decoration: underline;
}

a:hover {
    text-decoration: underline dashed;
}

.top-bar {
    display: flex;
    background-color: #23282E; 
    color: white;
    height: 32px;
    width: 100%;
    /* padding: 5px 0px; */
}

.top-bar a {
    display: flex;
    align-items: center;
    color: white;
    padding: 0px 8px;
}

.dark {
    background-color: black; 
    color: white;
}

.links {
    padding-top: 60px;
    padding-bottom: 120px;
}

.section {
    padding: 0px 200px;
}

.dark a {
    color: white;
}

.header-link {
    color: white;
}